# TASK #1: UNDERSTAND VARIABLES ASSIGNMENT

In [23]:
# Define a variable named "x" and assign a number (integer) to it
# integer is a whole number (no decimals) that could be positive or negative

x = 20

In [24]:
# Let's view "x"
print(x)

20

In [25]:
# Define a variable named "y" and assign a number (float) to it
# Float are real numbers with a decimal point dividing the integer and fractional parts

y = 35.20

In [26]:
# Let's view "y"
print(y)

35.2

In [27]:
# Let's overwrite "y" (assume your portfolio value increased)
y= y + 20

In [28]:
# Notice that "y" will only contain the most recent value
print(y)

55.2

In [29]:
# Get the type of "x" which is integer
# integer is a whole number (no decimals) that could be positive or negative
type(x)

int

In [30]:
# Get the type of "y" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
type(y)

float

MINI CHALLENGE #1:
- We defined a variable z and we assigned these 4 values listed below to it. Without executing any code cells, what will these lines of code generate?
- Verify your answer by executing the code cells



```
z = 1000
z = 2000
z = 5000
z = 6000
z
```

In [31]:
z = 1000
z = 2000
z = 5000
z = 6000

print(z)

6000

# TASK #2: PERFORM MATH OPERATIONS IN PYTHON

In [32]:
# Define a variable named i and initialize it with 20 
# Let's assume that we want to increment the value by 4 
i = 20
i += 4
i

24

In [33]:
# Let's assume that you own a little grocery store 
# The price of 1 bottle of milk is $3 and we currently have 50 bottles
# We can calculate the total dollar value of our inventory as follows:
milk = 3
Total_bottle = 50
total_value = milk * Total_bottle
total_value

150

In [34]:
# Let's assume you have $550 USD in our bank account
# We want to buy x number of IBM stocks using the total amount 
# each IBM stock is priced at $128 each

Account_balance = 550
IBM_stock = 128
X_unit = Account_balance / IBM_stock
X_unit

4.296875

In [35]:
# Divide the account balance by Amazon stock price and place the answer in units
Account_balance = 600
Amazon_share = 2200
unit = Account_balance / Amazon_share
unit

0.2727272727272727

MINI CHALLENGE #2:
- Write a code that takes in APPLE (AAPL) stock prices at two days and calculate the return:
  - AAPL price on day 1 = \$135
  - AAPL price on day 2 = \$150

In [36]:
Apple_day1 = 135
Apple_day2 = 150
Profite = Apple_day2 / Apple_day1
print(Profite) 

Difference = Apple_day2 - Apple_day1
Percentage = (Difference / Apple_day1)*100

print(Percentage)

1.1111111111111112
11.11111111111111

# TASK #3: UNDERSTAND PRINT AND INPUT OPERATIONS

In [37]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks

In [38]:
x = 'Roshan'

In [39]:
# Obtain the data type for 'x'
print(x)
type(x)

Roshan

str

In [40]:
# The format() method formats the specified value and insert it in the placeholder
# The placeholder is defined using curly braces: {}
company_name = "Amazon"
shares = 200
print("I own {}'s total shares of {}".format(shares,company_name))

I own 200's total shares of Amazon

In [41]:
# input is a built-in function in python
# Obtain client data such as name, country and e-mail and print them all out on the screen
name = input("Enter your name: ")
country = input("Enter the country: ")
email = input("Enter your email: ")

print("my name is {}, I am from {} and my email is {}".format(name,country,email))

my name is , I am from  and my email is

MINI CHALLENGE #3:
- Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:
  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is: 15000

In [42]:
stock_name = input("ENTER THE NAME OF THE STOCK ")
STOCK_PRICE = int(input("Enter the stock's price "))
stocks_buy = int(input("How many stocks you want? "))
total_fund = STOCK_PRICE * stocks_buy
print(total_fund)
print("You need total of {} amount to buy unit {} of {} shares at the rate of {}".format(total_fund,stocks_buy,stock_name,STOCK_PRICE))

ValueError: invalid literal for int() with base 10: ''

# TASK #4: UNDERSTAND LISTS DATA TYPES

In [ ]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
List1 = ["name", "email" , 25]
print(List1)

['name', 'email', 25]

In [ ]:
# Obtain the datatype
type(List1)

list

In [ ]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
print(List1[2])

25

MINI CHALLENGE #4:
- Print the first, second and last element in the list below

```
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

```

In [ ]:
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

In [ ]:
print(grocery_list[0])
print(grocery_list[1:3][0][2])
print(grocery_list[-1])
print(grocery_list[5])

milk
c
water
water

# TASK #5: UNDERSTAND COMPARISON OPERATORS AND CONDITIONAL STATEMENTS

In [ ]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is x equals y or not?"
# "True" output means condition is satisfied 
# "False" output means Condition is not satisfied (condition is not true) 
x = 50
y = 60

x == y

False

In [ ]:
# Greater than or equal operator '>='
x = 40
y = 30
x >= y

True

In [ ]:
# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in x)
x = 10
x == 10

True

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [ ]:
# Let's take an input from the user and grant or deny access accordingly
user_input = int(input("Enter the number:"))

if (user_input <= 50):
    print("You have been granted the access")
else:
    print("You have been denied the acces")

Enter the number:50
You have been granted the access

In [ ]:
x = int(input(" Enter an integer from 1 to 1000: "))

if x%2 == 0:
    print("Number is even")
else:
    print("Number is odd")

 Enter an integer from 1 to 1000: 10
Number is even

MINI CHALLENGE #5:
- Write a code that takes a number from the user and indicates if it's positive or negative

In [ ]:
number = float(input("Enter the number: "))
if number < 0:
    print("Number is negative")
elif number == 0:
    print("Number is zero")
else:
    print("Number is positive")

Enter the number: -5
Number is negative

# TASK #6: DEVELOP FUNCTIONS IN PYTHON

In [ ]:
# Define a function that takes in two argument x and y and returns their multiplication 
def multiply(x,y):
    z = x*y
    return z

6

In [ ]:
# Call the function
multiply(2,8)

MINI CHALLENGE #6:
- Write a code that takes in three inputs from the user and calculate their sum

In [ ]:
def sum():
    a=int(input("Enter the number: "))
    b=int(input("Enter the second number: "))
    c=int(input("Enter the third number: "))
    return a+b+c
sum()

Enter the number: 5
Enter the second number: 6
Enter the third number: 7

18

In [ ]:
def sum(e,f,j):

    return e+f+j
a=int(input("Enter the number: "))
b=int(input("Enter the second number: "))
c=int(input("Enter the third number: "))
sum(a,b,c)

Enter the number: 5
Enter the second number: 7
Enter the third number: 8

20

# TASK #7: UNDERSTAND FOR AND WHILE LOOPS

In [ ]:
# List of strings
for i in range(10):
     print(i)
    
g_list= ["milk", "eggs", "rice", "toothpaste", "bread", "oranges", "water"]

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in g_list:
    print(i)
    print("Hello {}".format(i))

milk
Hello milk
eggs
Hello eggs
rice
Hello rice
toothpaste
Hello toothpaste
bread
Hello bread
oranges
Hello oranges
water
Hello water

In [ ]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 7) generates integers from 0 up to, but not including, 7.
for i in range(1,6):
    print()

1
2
3
4
5

In [ ]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.
i = 6 
while(i<10):
    print(i)
    i=i+1

6
7
8
9

MINI CHALLENGE #7:
- Write a code that displays numbers from 1 to 10 using for and while loops

In [ ]:
for num in range(1,11):
    print(num)
    
i = 1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

# TASK #8: CAPSTONE PROJECT

Develop a guessing game that performs the following: 
- The system will automatically generate a random number between 1 and 100. 
- Users can insert any number between 1 and 100
- The program shall be able to compare the number generated by the system and the number that has been entered by the user. The program shall print out one of the following options to help the user improve their next guess:
    - You are right, great job!
    - Your guess is low, try again!
    - your guess is high, try again!

- The program exits when the user guess matches the number generated by the system

In [5]:
import random

sys_number = random.randint(1,100)
sys_number

17

In [6]:
number= int(input("Enter your number between 1 and 100: "))
number

19

In [8]:
while (True):
    if sys_number == number:
        print("You are right, great job!")
        break
    elif sys_number > number:
        print(" Your guess is low, try again!")
        number= int(input("Enter your number between 1 and 100: "))
    else:
        print("Your guess is high, try again")
        number = int(input("Enter your number between 1 and 100: "))

Your guess is high, try again
Your guess is high, try again
 Your guess is low, try again!
You are right, great job!